p {
  margin-bottom: 0 !important;
}

* {
  margin: 0;
  padding: 0;
}

* ::-webkit-scrollbar {
  display: none;
}

.cover {
  background-image: url("https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  color: white;
}

.cover .form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40% !important;
  overflow: hidden;
  border-radius: 10px;
  padding: 30px;
}

.cover .form-container form {
  width: 70%;
}

.cover .form-container a {
  color: #0dfde9;
  text-decoration: none;
}

.cover .form-container a:hover {
  color: #f70000;
}

main {
  width: 100% !important;
  overflow: hidden;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main .container .header {
  background-color: #10151a;
  color: #fff;
  height: 50px;
  z-index: 99;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 10px 50px 5px #000000;
          box-shadow: 0px 10px 50px 5px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .header .logout {
  width: 150px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #196c63;
  text-decoration: none;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .header .logout:hover {
  background-color: #19556c;
}

main .container .header .menu {
  color: white;
  padding-right: 10px;
}

main .container .header div.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 20px;
}

main .container .header div.title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 0 !important;
}

main .container .header .dropdown {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border: none;
  outline: none;
}

main .container .header .dropdown .menu {
  display: none;
}

main .container div.users-window {
  margin-top: 50px;
  width: 350px;
  color: #fff;
  z-index: 100;
  background-color: #0E1621;
}

main .container div.users-window div.users-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #196c63;
  padding: 5px 10px 0px 10px;
}

main .container div.users-window div.users-list {
  overflow-y: scroll;
}

main .container div.users-window div.users-list .user-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  height: 50px;
  border-bottom: 1px solid #0E1621;
}

main .container div.chat-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  width: 100%;
  background-size: cover;
}

main .container div.chat-window div.chat-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

main .container div.chat-window div.chats {
  height: 86.5vh;
  padding: 20px;
  overflow-y: scroll;
}

main .container div.chat-window div.chats div.user-join {
  font-size: 0.9rem;
  color: #424242;
  background-color: #fff;
  border-radius: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 7px 20px;
  margin: 0 auto;
  margin-bottom: 15px;
}

main .container div.chat-window div.chats div.incoming {
  margin-left: auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .container div.chat-window div.chats div.incoming .user_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  background-color: #ffffffa9;
  border-radius: 15px 15px 15px 0px;
  text-align: right;
  margin: 5px 10px 0 10px;
  padding: 5px 10px 5px 10px;
  -webkit-animation: fadeOut 0.5s ease-in-out;
          animation: fadeOut 0.5s ease-in-out;
}

@-webkit-keyframes fadeOut {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes fadeOut {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

main .container div.chat-window div.chats div.incoming .user_message h5 {
  margin-bottom: 0 !important;
  margin-left: 35px;
}

main .container div.chat-window div.chats div.incoming .user_message h6 {
  color: #242F3D;
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 0 !important;
}

main .container div.chat-window div.chats div.incoming .user_img {
  border-radius: 100%;
  width: 45px;
}

main .container div.chat-window div.chats div.outgoing {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container div.chat-window div.chats div.outgoing .user_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  color: #fff;
  background-color: #000000a8;
  border-radius: 15px 15px 0px 15px;
  text-align: right;
  padding: 5px 10px 5px 10px;
  margin: 5px 10px 0 auto;
  -webkit-animation: comeIn 0.5s ease-in-out;
          animation: comeIn 0.5s ease-in-out;
}

@-webkit-keyframes comeIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes comeIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

main .container div.chat-window div.chats div.outgoing .user_message h5 {
  margin-bottom: 0 !important;
  margin-right: 35px;
}

main .container div.chat-window div.chats div.outgoing .user_message h6 {
  color: #00ffdc;
  font-size: 0.9rem;
  margin-bottom: 0 !important;
}

main .container div.chat-window div.chats div.outgoing .user_img {
  border-radius: 100%;
  width: 45px;
}

main .container div.chat-window div.user-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  position: fixed;
  bottom: 0;
  width: 74.5%;
}

main .container div.chat-window div.user-input #user-msg {
  color: white;
  font-size: 16px;
  background-color: #0E1621;
  padding: 10px 20px;
  outline: none;
  border: none;
  width: 100%;
  border-left: 1px solid #3a4758;
  color: white;
  border-radius: 0;
  height: 43px;
}

main .container div.chat-window div.user-input button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 15px;
  border: none;
  outline: none;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #196c63;
}

@media screen and (max-width: 900px) {
  .cover .form-container {
    width: 90% !important;
  }
  .cover .form-container form {
    width: 100%;
  }
  main {
    width: 95%;
  }
  main div.container {
    position: relative;
  }
  main div.container .header .dropdown .menu {
    display: block;
  }
  main div.container div.users-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    z-index: 10;
    -webkit-box-shadow: 0 15px 20px -20px black;
            box-shadow: 0 15px 20px -20px black;
    padding-bottom: 0;
    display: none;
  }
  main div.container div.chat-window div.chat-box {
    background-image: url("https://img.wallpapersafari.com/phone/1080/1920/19/15/HlpKYq.png");
  }
  main div.container div.chat-window div.chats div.message {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  main div.container div.chat-window div.chats div.incoming {
    margin-left: 0;
  }
  main div.container div.chat-window div.chats div.outgoing {
    padding: 5px 10px 5px 55px;
  }
  main div.container div.chat-window div.user-input {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */