<div class="cover">
    <div class="form-container">

        <h1 class="text-center display-5"><img src="./icon/logo.svg" style='filter: invert(100%);' width="200px"></h1>
        <div class="d-flex justify-content-center align-items-center">
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="mb-3 mt-3">
                    <label for="emailId" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="emailId" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>
                <div class="d-flex flex-column align-items-center" style="color:lightgray">

                    <button type="submit" class="btn btn-primary w-50 mb-2">Login</button>
                    <span>
                        Don't have an account?
                        <a href="/signup">Sign up</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="alert alert-danger" id="alert" role="alert"></div>
</div>
<style>
    #alert {
        position: fixed;
        border: none;
        border-radius: 0;
        top: 0px;
        width: 100%;
        z-index: 100;
        display: none;
    }
</style>
<script differ>
    var msg = `{{ Message }}` || "";
    if (msg) {
        showMessage('alert', msg);
        console.log("hello")
    }

    function showMessage(elementId, message) {
        document.getElementById(elementId).style.display = 'block';
        console.log(elementId)
        document.getElementById("alert").innerHTML = `<b>Warning!</b> ${message}`
        setTimeout(`hide("${elementId}")`, 2000);
    }

    function hide(elementId) {
        document.getElementById(elementId).style.display = 'none';
    }

</script>